.nest-swing img {
  animation: swing 4s ease-in-out infinite;
  transform-origin: top;
}
@keyframes swing {
  0%,
  100% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
}
.clouds img {
  animation: move 20s linear infinite;
  left: -110%;
  position: absolute;
}
@keyframes move {
  100% {
    left: 100%;
  }
}
.stork-img {
  animation: play 0.8s steps(7, start) infinite;
}
@keyframes play {
  100% {
    background-position: 2240px;
  }
}
