.nest-swing img {
  animation: swing 4s ease-in-out infinite;
  transform-origin: top;
}
@keyframes swing {
  0%,
  100% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
}
.clouds img {
  animation: move 20s linear infinite;
  left: -110%;
  position: absolute;
}
@keyframes move {
  100% {
    left: 100%;
  }
}
.stork-img {
  animation: fly 1s steps(7) infinite;
}
@keyframes fly {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(-7 * var(--stork-width)) 0;
  }
}

.stork-container {
  left: 0;
  animation: moveAcross 10s linear infinite;
  transform: translateY(-50%) translateX(-100%);
}

@keyframes moveAcross {
  0% {
    transform: translateY(-50%) translateX(-100%);
  }
  100% {
    transform: translateY(-50%) translateX(100vw);
  }
}
